<?xml version="1.0" encoding="UTF-8" ?>
<phpdocumentor
    configVersion="3"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://www.phpdoc.org"
>
    <paths>
        <output>docs/code</output>
    </paths>

    <version>
        <number>1.0.0</number>
        <api>
            <source dsn=".">
                <path>app</path>
                <path>php</path>
            </source>
            <ignore>
                <path>app/Views/**/*</path>
                <path>php/fpdf/**/*</path>
            </ignore>
        </api>
    </version>
</phpdocumentor>